@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* comentario */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.nav-bar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: gray;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid rebeccapurple;*/
    text-align: left;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: rgb(133, 2, 255);
    font-size: 34px;

}

.menu {
    flex: 70%;
    /*border: 1px solid greenyellow;*/
    text-align: right;
    padding: 20px;

}

.menu a {
    color: rgb(132, 0, 255);
    text-decoration: none;
    font-size: 25px;
    padding: 20px 16px;
}

.menu a:hover {
    color: aqua;
    border-top: 4px solid #180F4A;
}

#botao {
    background: #180F4A;
    padding: 10px 25px;
    color: white;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: rgb(225, 0, 255);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: rgb(29, 25, 25);
}

.headerline {
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; */
}

.headerline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #2600ff;
    padding: 0;
    margin: 0;
}

.headerline p {
    color: grey;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    background: palevioletred;
    padding: 30px;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 15px;
    text-decoration: none;
}

.contact-btn:hover {
    background: #180F4A;
}

.img-headerline {
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid rgb(255, 0, 0); */
    text-align: center;
}

section {
    display: inline-block;
    margin-top: 80px;
    /*border: 1px solid rgb(0, 0, 0);*/
    margin-left: 5%;
    margin-right: 5%;
    height: 700px;
    padding: 5%;
    text-align: center;
    /*width: 90%;*/
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #180F4A;
    margin-bottom: 100px;

}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid greenyellow;
    border-radius: 15px;
    background: #180f4a;
}

.card:hover {
    background: #180f4a;
    color: beige;
    padding: 30px;
}

footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180F4A, #090422, black);
    text-align: center;
    border-top: 5px solid rgb(255, 0, 204);
}

.logo-rodape {
    padding: 100px;
}
.site{
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    font-size: 34px;
}