/* comentario */

* {
    box-sizing: border-box;
}

body {
    background: #301860;
    background-image: linear-gradient(#001848, #301860, #483078, #604878, #906090, #423431);
    margin: 0;
    font-family: 'poppinsregular';
}


.nav-bar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: #001848;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid rebeccapurple;*/
    text-align: left;
}

.logo h1 {
    font-family: 'poppinsregular';
    color: rgb(133, 2, 255);
    font-size: 34px;

}

.menu {
    flex: 70%;
    /*border: 1px solid greenyellow;*/
    text-align: right;
    padding: 20px;

}

.menu a {
    color: rgb(132, 0, 255);
    text-decoration: none;
    font-size: 25px;
    padding: 20px 16px;
}

.menu a:hover {
    color: aqua;
    border-top: 4px solid #180F4A;
}

#botao {
    background: #2f1335;
    padding: 10px 25px;
    color: white;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: #ce3762;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.headerline {
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; */
}

.headerline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #2600ff;
    padding: 0;
    margin: 0;
}

.headerline p {
    color: grey;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    background: #2f1335;
    padding: 30px;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 15px;
    text-decoration: none;
    font-family: poppinsbold;
}

.contact-btn:hover {
    background: #ce3762;

}

.img-headerline {
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid rgb(255, 0, 0); */
    text-align: center;
}

section {
    display: inline-block;
    margin-top: 80px;
    /*border: 1px solid rgb(0, 0, 0);*/
    margin-left: 5%;
    margin-right: 5%;
    height: 700px;
    padding: 5%;
    text-align: center;
    /*width: 90%;*/
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'poppinsregular';
    font-weight: bold;
    color: #180F4A;
    margin-bottom: 100px;

}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid greenyellow;
    border-radius: 15px;
    background-image: linear-gradient(#6f0550, #401c2a);
}

.card:hover {
    background: #180f4a;
    color: beige;
    padding: 30px;
}

footer {
    margin-top: 100px;
    height: 300px;
    background-image: linear-gradient(#24211a, #423431);
    text-align: center;
}

.logo-rodape {
    padding: 100px;
}

.site {
    font-family: 'poppinsregular';
    color: rgb(255, 255, 255);
    font-size: 34px;
}